body {
    width: 100%;
    height: 100vh;
    background-image: url('../../Images/header-img.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.logo {
    position: absolute;
    top: 30px;
    left: 30px;
    background-image: url('../../Images/logo.png');
    width: 220px;
    height: 101px;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    border-bottom-right-radius: 27px;
    border-top-left-radius: 27px;
}

.subList {
    background: #f3f3f3;
}

.hidden-list {
    height: 0;
    padding: 0 !important;
    overflow: hidden;
}

.rotate {
    transition: 0.2s;
    transform: rotate(180deg);
}

.component {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 30px;
}

.paper-component * {
    color: white !important;
}

.momento-img {
    width: 100%;
    border-radius: 4px;
}

@media only screen and (max-width: 600px) {

    .component {
        padding: 10px;
    }

    .menu-btn {
        margin: 10px !important;
    }

}